<%- include("includes/head.ejs") %> <!--include is used to add sub template in our webpage-->
  <body>
    <h1>This profile belong to @ <%= data.name%></h1>
    <button>Follow</button>
    <button>Message</button>
    <!--Loops in ejs-->
    <p>
      Followers: <%= data.followers%> &nbsp;&nbsp;&nbsp;&nbsp; Following: <%=
      data.following %>
    </p>
    <hr />
    <% for(post of data.posts){ %>
    <img src="<%= post.image %>" alt="some image" />
    <p>
      Followers: <%= post.likes%> &nbsp;&nbsp;&nbsp;&nbsp; Following: <%=
      post.comments %>
    </p>
    <%}%>
    <%- include("includes/footer.ejs") %>
  </body>
</html>
